@model MoshalScholarship.Models.Mentee

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Mentee</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ID" />
        <div class="form-group">
            <label asp-for="MentorId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="MentorId" class="form-control" asp-items="ViewBag.MentorId"></select>
                <span asp-validation-for="MentorId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StudentId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="StudentId" class="form-control" asp-items="ViewBag.StudentId"></select>
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StartAt" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="StartAt" class="form-control" />
                <span asp-validation-for="StartAt" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EndedAt" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EndedAt" class="form-control" />
                <span asp-validation-for="EndedAt" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="Accepted" />
                    <label asp-for="Accepted"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CreatedAt" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
